.home-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.about-wrapper {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 5em;
}

.social-profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 1em;*/
    margin-bottom: max(1em, 10vh);
    padding: 1em;
}

.profile-picture-container {
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    width: clamp(100px, 10vw, 200px);
    height: clamp(100px, 10vw, 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-profile-wrapper h2 {
    margin: 0.2em 0 0 0;
}

.social-profile-wrapper h2 , .social-profile-wrapper p  {
    color: #fafafa;
}

.logo-wrapper {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 1em;
}

.logo-container, .logo {
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    width: clamp(50px, 1vw, 100px);
}

.logo-container img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.logo {
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(1) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    width: clamp(200px, 90vw, 900px);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1em;
}

.card h3, .card p, .card li {
    color: #fafafa;
    margin: 0 0 .1em 0;
}

.card > p {
    font-weight: normal;
}

.button {
    border-radius: .2em;
    height: fit-content;
    width: clamp(200px, 5vw, 200px);
}

.interests-education-wrapper {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.education-container span {
    text-align: start;
    font-size: 0.7em;
}