.layout {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: start;*/
    /*justify-content: start;*/
    width: 100vw;
    height: 100vh;
}

.header-bar {
    position: sticky;
    z-index: 9999;
    top: 0;
    left: 0;
    display: grid;
    backdrop-filter: blur(50px);
    height: 3rem;
    /*background: red;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    align-items: start;
    justify-content: space-between;
    box-shadow: 0 0.1em 1.8em -1em #000000;
}

.content {
    position: absolute;
    top: 3rem;
    left: 0;
    grid-row: 2;
    width: 100vw;
    min-height: calc(100vh - 3rem);
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-grid-left, .header-grid-middle, .header-grid-right {
    display: flex;
    /*height: 5vh;*/
    height: inherit;
    padding: 0 1em 0 1em;
    /*overflow: hidden;*/
}

.header-grid-left {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    height: clamp(3rem, 1vw, 20px);
}

.name-container{
    height: inherit;
    display: flex;
    columns: 2;
    column-gap: 0.5em;
    align-items: center;
    gap: 0.5em;
    width: fit-content;
}

.name-circle {
    background: #000000;
    border-radius: 50%;
    width: clamp(2.5rem, 1vw, 20px);
    height: clamp(2.5rem, 1vh, 40px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.name-circle p {
    color: #ffffff;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.name-container > p {
    width: fit-content;
    color: #000000;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
}

.header-grid-middle {
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
    overflow: hidden;
}

.header-grid-middle nav,
.header-grid-middle ul,
.header-grid-middle li{
    /*width: 100%;*/
}

.header-grid-middle li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.header-grid-middle p{
    color: #000000;
    font-weight: normal;
    font-size: 1em;
}

/*.header-grid-right{*/
/*    grid-column: 3;*/
/*    grid-row: 1;*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: end;*/
/*}*/

/*.social-links {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    display: flex;*/
/*}*/

/*.social-item {*/
/*    display: flex;*/
/*    gap: 0.5em;*/
/*}*/

/*.social-link {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.social-link:focus-visible {*/
/*    outline: 2px solid #000;*/
/*    outline-offset: 2px;*/
/*}*/





