.layout {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100vw;
    height: 100vh;
}

.header-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 5vh;
    align-items: start;
    justify-content: space-between;
    box-shadow: 0 0.1em 1.8em -1em #000000;
}

.header-grid-left, .header-grid-middle, .header-grid-right {
    display: flex;
    height: 5vh;
    padding: 0 1em 0 1em;
    overflow: hidden;
}

.header-grid-left {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 0.5em;
}

.name-circle {
    background: #000000;
    border-radius: 50%;
    width: clamp(40px, 1vw, 40px);
    height: clamp(40px, 1vh, 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-circle > p {
    color: #ffffff;
    font-size: 2em;
}

.header-grid-left > p {
    width: fit-content;
    color: #000000;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
}

.header-grid-middle {
    /*background: #ffffff;*/
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
}

.header-grid-middle nav,
.header-grid-middle ul,
.header-grid-middle li{
    /*width: 100%;*/
}

.header-grid-middle li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.header-grid-middle p{
    color: #000000;
    font-weight: normal;
    font-size: 1em;
}

/*.header-grid-right{*/
/*    grid-column: 3;*/
/*    grid-row: 1;*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: end;*/
/*}*/

/*.social-links {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    display: flex;*/
/*}*/

/*.social-item {*/
/*    display: flex;*/
/*    gap: 0.5em;*/
/*}*/

/*.social-link {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.social-link:focus-visible {*/
/*    outline: 2px solid #000;*/
/*    outline-offset: 2px;*/
/*}*/

.content {
    grid-column: 1;
    grid-row: 2;
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/sunsetBackground.jpg');
    background-size: cover;
    background-position: center;
    /*overflow: hidden;*/
}




