.layout {
    background: transparent;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    /*justify-content: left;*/
    overflow: hidden;
    width: clamp(300px, 100vw, 100vw);
    /*height: clamp( 300px, 100vw, 2560px);*/
    height: 100vh;
}

.image-bar {
    margin-left: auto;
    grid-column: 2;
    grid-row: 1;
    min-width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #747bff;
}

.image-bar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 0.1fr 4fr;
    grid-template-rows: clamp(60px, 5vh, 100% ) 1fr;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    background: transparent;
}

.name-bar {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    /*border-bottom: 1px solid #000000;*/
    box-shadow: 0 0.1em 1.8em -1em #000000;
}

.name-bar > p {
    padding: 0.5em;
    /*height: 100%;*/
    color:#000000;
    display: flex;
    /*align-items: center;*/
    font-weight: bolder;
    font-size: 1.5em;
}

.social-bar {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: clamp(2vw, 100%, 52px);*/
    height: 100vh;
    width: 100%;
    /*border-right: 1px solid #000000;*/
    /*background: rgb(0, 0, 0);*/
}

.social-bar > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.outlet-background {
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/leavesBackground.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    /*filter: blur(5px);*/

}


.outlet-content{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);

}

.social-bar {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(2vw, 100%, 52px);
    height: 100vh;
    /*background: rgb(0, 0, 0);*/
}

.social-bar > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

