.projects-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.projects-layout-container{
    display: flex;
    width: clamp( 360px, 95vw, 360px*4 );
    /*max-width: calc(355px * 4) ;*/
    /*max-width: calc(355px * 4) ;*/
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: start;
}



.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 340px;
    background: linear-gradient(160deg,rgba(209, 209, 209, 100) 40%, rgba(250, 250, 250, 1) 60%);
    backdrop-filter: blur(10px);
    color: #1a1a1a;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);

}

.project-title-progress-container{
    display: flex;
    width: 320px;
    height: 30px;
    flex-direction: column;
    align-items: start;
    margin: 5px 0 0 0;
}

.project-quick-detail{
    display: block;
    /*margin-left: 2.25rem;*/
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    color: gray;
}

.project-progress{
    position: absolute;
    right: -10px;
    color: white;
    font-weight: bolder;
    width: 50px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    background: #1a1a1a;
    font-size: 14px;
}

.project-card p{
    width: 320px;
    font-size: 0.8rem;
    margin: 20px 0 10px 0;
}

.project-card-image{
    overflow: hidden;
    width: 340px;
    border-radius: 10px 10px 5px 5px;
    object-fit: contain;
}

.project-card-button{
    background: #1a1a1a;
    width: 330px;
    height: 40px;
    margin-top: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

@media (max-width: 1301px) {
    .projects-layout-container{
        margin-left: auto;
        justify-content: center;
    }
    /*.project-card{*/
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
    /*}*/
}
